body {
    background: #d6d6d6;
}
.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background: #FFF;
}
.box{
  background: rgba(230,230,230,0.5);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.title {
    text-align: center;
    height: 100px;
    color: white;
    background: #670e0e;
}
.title h1 {
    line-height: 100px;
    text-transform: uppercase;
    font-family: Impact, Charcoal, sans-serif;
}

/* Icons */

.icon {
    text-align: center;
    background: #77d9d3;
    border-radius: 10px;
    padding: 10px;
    margin:10px;
}
.icon .fa {
    color: black;
    font-size: 40px;
}
textarea.row{
  min-height: 200px;
  width: 90%;
  display: block;
  margin: 0 auto;
}
.bg.grey{
  background: #ccc;
}
.dashed{
  border: 1px dashed grey;
  border-radius: 15px;
}
.dashed.thick{
  border-width: 5px;
}
